.dashboardMain {
  font: roboto, sans-serif;
  height: 100vh;
  display: flex;
  color: white;
}

.leftPanel {
  width: 5%;
  background-color: #04bfbf;
}

.leftPanelText {
  font-size: small;
  margin: 2px;
  display: table;
  margin: 0 auto;
  margin-bottom: 10px;
}

.rightContent {
  width: 95%;
  background-color: white;
  color: black;
}

.icons {
  box-sizing: border-box;
  zoom: 2;
  display: table;
  margin: 0 auto;
  margin-top: 10px;
}

.iconGroup {
  box-sizing: border-box;
}

.links {
  text-decoration: none;
  color: inherit;
}

.contentWrapper {
  position: relative;
  float: left;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#logout {
  float: right;
  zoom: 1.2;
}

#homeText {
  color: #17224d;
}
