.compass {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
  outline: none;
  cursor: pointer;
  margin: 100px;
  zoom: 0.1;
}

button:active {
  outline: 2px solid turquoise;
}
